<!DOCTYPE html>
<html>
<head>
  <title>CommentsApp</title>
  <%= stylesheet_link_tag 'application', 'grid' %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery-rails.js" %>

  <%= csrf_meta_tag %>
</head>
<body>
  <div class="row">
		<div class="column grid_10"></div>
    <div id="main" class="column grid_8">
			<h1>My Comments App</h1>
			<%= yield %>
		</div>
	</div>

</body>
</html>
